* {
  box-sizing: border-box;
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "游ゴシック", "YuGothic", "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

p {
  &.subhead {
    font-size: 1.5em;
  }
  &.legal {
    font-size: .75em;
  }
}

#root {
  height: 100vh;
  width: 100vw;
  min-width: 320px;
}

.site-wrapper {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1024px;
}

header, main, footer {
  padding: 1rem;
}

input {
  padding: .5rem;
  width: 100%;
  font-size: 24px;
}

ul {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

li {
  padding: .5rem 0;
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
}

.text-center {
  text-align: center;
}
